name: build default on ubuntu armv7 gcc

on:
  repository_dispatch:
  workflow_dispatch:
  push:
  pull_request:
  schedule:
    - cron: '0 */2 * * *'

env:
  BUILD_TYPE: Release
  LD_LIBRARY_PATH: /usr/arm-linux-gnueabihf/lib

jobs:
  build:
    name: Test on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-22.04]

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install cmake make qemu-user-binfmt \
            gcc gcc-arm-linux-gnueabihf

      - name: configure cmake
        run: |
          cmake -B ${{github.workspace}}/build \
                -D CMAKE_INSTALL_PREFIX=${{github.workspace}}/build/install \
                -D CMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
                -D CMAKE_C_COMPILER=arm-linux-gnueabihf-gcc

      - name: make
        run: |
          cmake --build ${{github.workspace}}/build \
                --config ${{env.BUILD_TYPE}}
